.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
/*logo*/
.topNavBar .logo {
  float: left;
  font-size: 22px;
  padding-top: 1px;
  font-family: "MicroSoft YaHei";
}
.topNavBar .logo .rs {
  margin-right: 4px;
  color: #e6686a;
}
.topNavBar .logo .card {
  color: #9a9da2;
}
/* nav导航 */
.topNavBar {
  position: fixed;
  top: 0px;
  left: 0px;
  transition:all 0.6s ;
  width: 100%;
  z-index: 1;
  color: rgba(255, 255, 255, 0.7);
}

.topNavBar.active {
background: rgba(255, 192, 203, 0.9);
padding: 6px 0;
box-shadow: 0 0px 15px rgba(0,0,0,0.8);
color: black;
}
.topNavBar-inner {
  padding: 20px 16px;
}
.topNavBar nav {
  padding-top: 7px;
  float: right;
}
.topNavBar nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.topNavBar nav > ul > li {
  float: left;
  margin-right: 17px;
  margin-left: 17px;
  position: relative;
}
.topNavBar nav > ul > li > a {
  font-size: 12px;
  color: inherit;
  font-weight: bold;
  display: block;
  border-top: 8px solid transparent;
  border-bottom: 3px solid transparent;
  position: relative;
  padding-bottom: 5px;
}
.topNavBar nav ul li.active > a::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #dc6465;
  height: 3px;
  animation: menuSlide 1s;
}
@keyframes menuSlide{
  0%{
    width: 0px;
  }
  100%{
    width: 100%；
  }
}
.topNavBar .submenu{
  display: none;
  position: absolute;
  top: 100%;
  list-style: none;
  background: #efefef;
  color: black;
  right: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.topNavBar .submenu > li{
  white-space: nowrap;
  padding: 5px 10px;
}
.topNavBar li.active> .submenu{
  display: block;
  animation: submenuSlide .5s;
}

@keyframes submenuSlide{
  0%{
    margin-right: 100%;
  }
  100%{
    margin-right: 0;
  }
}



/*banner图片*/
.banner {
  background-image: url(http://toacg.qiniudn.com/18-3-25/93540545.jpg);
  background-size: cover;
  background-position: center center;
  height: 515px;
}
.mask {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
}

/*个人简介*/
main .card {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.pictureAndText {
  padding: 50px;
}
.pictureAndText .text {
  float: left;
  margin-left: 65px;
}
.pictureAndText .picture {
  float: left;
}
.pictureAndText .text .welcome {
  background-color: #e6686a;
  padding: 4px 16px;
  color: white;
  position: relative;
}
.pictureAndText .text .welcome .triagle {
  position: absolute;
  border-color: #e6686a;
  border-width: 15px 15px 0px 0px;
  border-right-color: transparent;
  border-style: solid;
  width: 0px;
  display: block;
  top: 28px;
  left: 10px;
}
.pictureAndText .text h1 {
  margin-top: 20px;
}
.pictureAndText hr {
  border: 1px sold red;
  width: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pictureAndText dl dt,
.pictureAndText dl dd {
  float: left;
  margin: 10px 0px;
}
.pictureAndText dl dt {
  width: 30%;
  font-weight: bold;
}
.pictureAndText dl dd {
  width: 70%;
  color: gray;
}

.card .media {
  background-color: pink;
  text-align: center;
}
.card svg {
  fill: white;
  width: 40px;
  height: 40px;
  vertical-align: top;
}
.card .media a {
  margin: 25px 20px;
  display: inline-block;
  border-radius: 50%;
  transition: linear 1s;
}
.card .media a:hover {
  background-color: #e6686a;
}

.downloadpdf {
  text-align: center;
  margin-top: 40px;
}
.downloadpdf a {
  display: inline-block;
  border: 1px solid #cdcfd1;
  padding: 20px 60px;
  transition: linear 0.2s;
  font-family: YaHei;
  font-weight: bold;
}
.downloadpdf a:hover {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

.jianjie {
  text-align: center;
  margin: 40px 0px;
  line-height: 2;
  font-size: 19px;
}


.skill ,.zuopin{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.skill h2 ,.zuopin h2{
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}
.skill ol {
  list-style: none;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
.skill ol li {
  width: 45%;
  box-sizing: border-box;
  margin: 15px 0px;
}

.skill ol li:nth-child(even) {
  float: right;
}
.skill ol li:nth-child(odd) {
  float: left;
}

.skill ol li .line {
  height: 5px;
  background-color: #fae1e1;
  border-radius: 10px;
  margin: 5px 0px;
}
.skill ol li .line .line_di {
  background-color: pink;
  height: 5px;
  border-radius: 10px;
}

.zuopin{
  text-align: center;
  margin-bottom: 50px;
  margin-top:55px;
}
.zuopin nav{
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}
.zuopin nav ol {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 25px;
}
.zuopin nav ol li{
  list-style: none;
  float: left;
  margin-left: 50px;
  cursor: pointer;
}
.zuopin nav ol li:first-child{
  margin-left: 0;
}

.zuopin nav .tiao{
  height: 5px;
  color: bisque;
  border-radius: 5px;
  background-color:white;
  margin-bottom: 20px;
}


.zuopin nav .tiao_di{
  height: 5px;
  border-radius: 5px;
  background-color: pink;
  transition: all 0.3s;
  width: 0px;
}

.zuopin nav .tiao.state-1 .tiao_di{
  width: 33px;
}

.zuopin nav .tiao.state-2 .tiao_di{
margin-left: 83px;
width: 33px;
}

.zuopin nav .tiao.state-3 .tiao_di{
  margin-left: 163px;
  width: 94px;
}
.zuopin .pic {
  height: 597px;
  position: relative;
}
.zuopin .pic .big,.zuopin .pic .small{
  position: absolute;
}